input {
    height: 30px;
    padding-left: 6px;

    background-color: var(--white);
    border: 1px solid var(--gray500); 

}

.input__error-red{
    border-color: var(--alert100);
}

.input__error-red:hover{
    border-color: var(--alert200);
}